.logo-label {
    color: rgba(197, 25, 45, 1);
}

.PlanetConteiner {
    padding-top: 20px;
}

.App {
    background-color:rgb(6, 5, 34);
}

a {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    outline: none;
    text-decoration: none;
    color: none;
}

p {
    color: white;
    font-weight: 400;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 50px;
    
}

.logo-item {
    display: flex;
    flex-direction: row; 
}

.header-item {
    color: white;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
}

.header-item__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    font-size: 20px;
    flex-wrap:nowrap;
}

.main-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer {
    height: 150px;
    background-color: black;
    width: 100vw;
}


a:active {
    text-decoration: none;
  }
   
  a:link {
   text-decoration: none;
  }

.card {
    width: 300px;
    flex-wrap: wrap;
    
}

body { overflow-x: hidden; }


@media(max-width: 600px) {
    Planet {
        visibility: hidden;
    }
}