* {
    background: rgb(46, 46, 46);
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    animation-name: start2;
    animation-duration: 3s;
}

h1 {
    color: rgba(197, 25, 45, 1);
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 50px;
    
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;;
}

@keyframes start2 {
    from {
        background: rgb(0, 0, 0);
    }
  
    to {
        background: rgb(46, 46, 46);
    }
  }